* {
    font-family: "Mukta", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 60px 120px;
}

header {
    color: #202020;
    font-size: 3.5em;
    margin-top: 70px;
}

.bio {
    color: #505050;
    font-size: 1.4em;
    margin-top: 30px;
}

.works {
    margin: 60px 0;
}

section h2 {
    color: #202020;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.works-list {
    list-style: none;
}

.works-list__item {
    color: #202020;
    font-size: 1em;
    margin: 10px 0;
}

.skills-container {
    color: #202020;
    display: flex;
    flex-wrap: nowrap;
}

.skills-list {
    margin-right: 60px;
    list-style: none;
}

.skills-list h3 {
    font-weight: normal;
    font-size: 1.3em;
}

.skill-list li {
    font-size: 1em;
}

.skills-framework {
    color: #505050;
    padding-left: 6px;
}

.item-link {
    font-size: 1.2em;
    color: #202020;
}

.item-description {
    color: #505050;
}

@media screen and (max-width: 800px) {
    .skills-container {
        flex-wrap: wrap;
    }

    .skills-list {
        width: 100%;
        margin: 13px 0;
    }

    .wrapper {
        margin: 0 16px;
    }
}