body,h1,h2,h3,ul {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.content-wrapper {
  padding: 20rem;
}

.description {
  font-size: 1.6rem;
  margin-top: 2.2rem;
  color: #120C1E;
}

.header {
  display: flex;
  align-items: center;
}

.header__title {
  font-size: 2.5rem;
  color: #120C1E;
  margin-bottom: 0.5rem;
}

.header__sub-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #120C1E;
  opacity: 0.59;
}

.header__image {
  margin-right: 2rem;
  border-radius: 100%;
  object-fit: contain;
  height: 10rem;
  width: 10rem;
}

.section {
  margin-top: 2.2rem;
}

.section__title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #120C1E;
  opacity: 0.59;
  text-transform: uppercase;
}

.list {
  margin: 1rem 0;
  list-style: none;
}

.list--inline li {
  display: inline;
  margin-right: 1.2rem;
}

.list li:not(:first-child) {
  margin-top: 1rem;
}

.list__link {
  color: #120C1E;
  font-size: 1.3rem;
}